<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.6"/>

        <script src="seller.js" defer></script>
        <link rel="stylesheet" type="text/css" href="seller.css"/>

        <title>Stanowisko (Salesman)</title>
    </head>

    <body>
        <h1>Stanowisko sprzedawcy</h1>

        <div id="option-bar">
            <select id="templates">
                <option value="">Nowy przedmiot</option>
                <option value="">Pączek</option>
                <option value="">Dostawa</option>
            </select>

            <button id="add">Dodaj</button>
            <button id="updateBuyer">Zaaktualizuj widok</button>

            <button id="pay">Zapłata (BLIK)</button>
            <button id="pay_cash">Zapłata (Gotówka)</button>

            <button id="change_table">Zmień na menu</button>
        </div>

        <table id="current_products" class="table"></table>
        <table id="modify_presets" style="display:none;" class="table"></table>
    </body>
</html>